# dependencies
node_modules
.pnpm-store

# builds
dist
build
.expo
.expo-shared
web-build
android
ios

# env
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
turbo.log

# misc
.DS_Store
