node_modules/
pnpm-lock.yaml
.pnpm-store/
dist/
build/
out/
.next/
.expo/
.expo-shared/
turbo/
.turbo/
*.tsbuildinfo
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
.vscode/
.idea/
.vercel/
coverage/
.cache/
