# Node
node_modules/
.pnpm/
.pnpm-store/
.pnpm-workspace-state-v1.json

# Build output
dist/
build/
.expo/
.expo-shared/
.next/
out/
.vercel/
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Expo / React Native
apps/**/node_modules/
apps/**/.expo/
apps/**/.expo-shared/
apps/**/android/
apps/**/ios/

# Vercel
vercel/.
